<header>
  <div class="header-main">
    <a href="{{site.url}}"><img src='/img/oskari_logo_white.png'></img></a>
    <div class="wrapper"><div class="text-center" style="color: white; padding-bottom: 1em;">
      <h1 class="header" style="color: rgb(51, 51, 51); padding: 0.5em;">Blog moved to oskari.org!</h1>
          This blog site has been deprecated. All previous content has been migrated and new content will be made available on
          <a href="https://oskari.org/blog"><button class="btn-primary" style="padding: 0.4em">oskari.org/blog</button></a>
      </div>
    </div>
  </div>
</header>
