<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="wrapper">
    {% include header.html %}
      <div class="datebox">
        {{ post.date | date: '%B %d, %Y' }}
      </div>
      <div class="content-wide-post">
        {{content}}
      </div>
      <div class="content-narrow">{% include sidebar.html %}</div>
  </div>
    {% include footer.html %}
</body>
</html>
